name: Release Build
concurrency:
  group: ${{ github.ref }}
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**/README.md'

jobs:
  get-version:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Bump Version
        uses: anothrNick/github-tag-action@1.67.0
        id: bump-semver
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true
          RELEASE_BRANCHES: main
      - name: automatic-draft-release
        uses: marvinpinto/action-automatic-releases@v1.2.1
        with:
          draft: true
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          title: "${{ steps.bump-semver.outputs.tag }} by:${{ github.actor }}"
          automatic_release_tag: ${{ steps.bump-semver.outputs.new_tag }}
